.git/
*.bk
install.log
Dockerfile

# From BayesPaths/.gitignore
BayesPaths/__pycache__
BayesPaths/*.pyc
BayesPaths/*.pyo
BayesPaths/.git

# From DESMAN/.gitignore
DESMAN/*.egg-info
DESMAN/*.pyc
DESMAN/__pycache__
DESMAN/*.so
DESMAN/.git

# From SnakeNest/.gitignore
SnakeNest/__pycache__
SnakeNest/*.pyc
SnakeNest/*.pyo

# From SPAdes/.gitignore
SPAdes/.git
SPAdes/.github
